body {
    background-image: url('maze6.jpg');
    background-size: cover;
    backdrop-filter: blur(1px);
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    overflow: hidden;
}
div {
    font-size: 16px;
    display: inline-block;
    vertical-align: center;
    text-align: center;
    margin-left: 5vw;
}
h1 {
    color: black;
    font-weight: bold;
    margin-top: 30px;
    text-align: center;
}
p {
    color: black;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 600px;
    padding: 10px 20px;
    text-align: justify;
    font-size: 20px;
}
img {
    border: 3px solid transparent;
    padding: 10px 10px;
    cursor: pointer;
    height: 50px;
    width: 50px;
}
img:hover {
    border: 3px solid #333;
}
.my-button {
    background-image:url('men.jpg');
    background-size: cover; /* or background-size: 100% 100%; */
    background-repeat: no-repeat;
    padding: 20px 20px;
    width: 20px;
    border: none;
    cursor: pointer;

    color: white;
    position: absolute;
    font-family: Arial, sans-serif;
    font-size: 20px;
    left: calc(1vw);
    border-radius: 30px;
    margin-bottom: 50px;
}
#message {
    position: fixed;
    left: calc(90vw - 50px);
    top: 0px;
    color: black;
    transform: translateX(-50%);
    background-color: #7EC8E3;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}